.grid-template .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}

.grid-lineas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px;
}
.grid-lineas .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}

.grid-areas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.grid-areas .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}
.grid-areas .item.header {
  background: green;
}
.grid-areas .item.aside {
  background: yellow;
}
.grid-areas .item.section {
  background: #219ebc;
}
.grid-areas .item.article {
  background: violet;
}
.grid-areas .item.footer {
  background: red;
}

.grid-auto-flow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-auto-flow .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}
.grid-auto-flow .item-1 {
  grid-column: 1;
  grid-row: 1/3;
}
.grid-auto-flow .item-5 {
  grid-column: 5;
  grid-row: 1/3;
}
.grid-auto-flow .item-8 {
  grid-column: span 2;
}

.grid-implicit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px;
}
.grid-implicit .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}

.grid-minmax {
  display: grid;
}
.grid-minmax .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}

.grid-fill-fit {
  display: grid;
}
.grid-fill-fit .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}

.grid-responsive {
  display: grid;
}
.grid-responsive .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}

.grid-layers .item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #219ebc;
  border: medium solid #8ecae6;
  text-align: center;
}
