// MIXINS
@mixin item {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #219ebc;
    border: medium solid #8ecae6;
    text-align: center;

  }

// EJEMPLO 1
  .grid-template {

    .item {
      @include item;

    }
}


// EJEMPLO 2
  .grid-lineas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;

     .item {
      @include item;

    }
  }


// EJEMPLO 3
  .grid-areas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


    .item {
      @include item;

      &.header {
        background: green;
      }

      &.aside {
        background:yellow;
      }

      &.section {
        background: #219ebc;
      }

      &.article {
        background: violet;
      }

      &.footer {
        background: red;
      }
    }
  }



// EJEMPLO 4
  .grid-auto-flow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;

    .item {
      @include item;

      &-1{
        grid-column: 1;
        grid-row: 1 / 3;
      }

      &-5 {
        grid-column: 5;
        grid-row: 1 / 3;
      }

      &-8 {
        grid-column: span 2;
      }
    }
  }


// EJEMPLO 5
  .grid-implicit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px;

    .item {
      @include item;

    }
  }


// EJEMPLO 6
  .grid-minmax {
      display: grid;

      .item {
        @include item;
      }
  }

// EJEMPLO 7
  .grid-fill-fit {
      display: grid;

      .item {
        @include item;

      }
  }

// EJEMPLO 8
  .grid-responsive {
    display: grid;

    .item {
      @include item;

    }
  }


// EJERCICIO LAYER
  .grid-layers {

    .item {
      @include item;
    }
  }
